table {
  border: 1px solid rgb(16, 16, 16);
  border-collapse: collapse;
  height: 301px;
  width: 1751px;
  outline: none;
  text-align: center;
}
.heads td {
  border: 1px solid rgb(16, 16, 16);
  padding-left: 20px;
}
td {
  border-left: 1px solid rgb(16, 16, 16);

  padding: 20px;
}
.tablebox {
  margin: 50px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#table1 {
  display: none;
}
img {
  height: 100px;
  width: 100px;
  margin-left: 10px;
  object-fit: cover;
}
#table2 {
  display: none;
}
#table3 {
  display: none;
}